^.emacs.d/(el-get|jabber|circe|agent|server|snippets|elpa|tramp|.project-roots|url|bookmarks|smex.save|places)
syntax: glob

distr
js
prj
opt
papers
envs
sandbox
servs
stuff
upybig
zurs
monadic
nix
ocaml
projects
stuff
terrarium
trash
erl
kamlo
monadic
nix
prj
q
reptile
terrarium
demos
Dropbox
ext
ops
camlunity

.ssh
.carcass
.coursier
.ivy2
.rustup
.dropbox-dist
.dropbox
.gnome2
.cache
.fontconfig
.pylint.d
.subversion
.ipython
.emacs
.mc
.lesshst
.python-eggs
.viminfo
.zcompdump

.zshenv
.zshlocal
.gnupg
.darcs
.cabal
.omake
.ghc
.elinks
.pip/pip.log
.ICEauthority
.pulse
.gksu.lock
.config
.vboxclient-*
.xsession-*
.esd_auth
.gconfd*
.pulse-cookie
.recently-used*
.sudo_as_admin_successful
.gtk-bookmarks*
.mozilla
.gajim
.thumbnails
.local
.dbus
.fonts
Library
Movies
Music
Pictures
Public
Sites
Downloads
Desktop
Documents
.profile
.zcompcache
.Trash
.DS_Store
.CFUserTextEncoding
.rvm
.recentf
.eshell
.gem
.profile
.xinput.d
.breadcrumb
.bzr.log
.gemrc
.ido.last
.gitk
.ruby_inline
.wine
.cups
nothing
Itunes
langs
share

.*history
*.pyc
*.elc

.slocdata
.Xauthority
.odb

.dbshell
.emacs.d/ac-comphist.dat
.emacs.d/.lsp-session-v1
.emacs.d/history
.emacs.d/network-security.data
.emacs.d/transient/history.el
.emacs.d/var/prescient-save.el
.idlerc/config-main.cfg
.idlerc/recent-files.lst
.pythonhist
.rdebug_hist
.rubinius_last_error
pics
muzak
warehouse
movies
.opera
.q2pro
books
other
.Private
.compiz
.mecromedia
.xscreensaver-getimage.cache
.macromedia
.ecryptfs
.gstreamer-0.10
src
shares
.Skype
downloads
gconf/system
.gconf
.nvidia-settings-rc
.pki
.adobe
.wunderlist
.titanium
Wine Files
VirtualBox VMs
images
.brew
.octave_hist
.octaverc
.pypirc
.opam
.tor
.m2
.dialyzer_plt
.lein
Robrary
code
.emacs.d/swank/
.npm
.node-gyp
.boot2docker

gosrc

bin/opam
bin/cabal
bin/opam-mk-repo
bin/opam-repo-convert-0.3
bin/youdown
bin/lein
bin/puc
bin/consul
bin/consul-template
bin/VBoxHeadless
bin/VBoxManage

.ocamlinit
TODO
SpiderOak Hive
.gradle
Applications
.cargo
.multirust
.heroku
.docker
.boot
.aws
.netrc
.rnd
.gist
.sbt
.terraform.d
gamekit
.caskroom
.vagrant.d
./x.*
.npmrc
.packer.d
.dockercfg
.stack
.jupyter
.tlaplus
.w3m
.ocp
Calibre Library

.emacs.d/ido.last
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/opam-user-setup.el
.emacs.d/request/curl-cookie-jar
.emacs.d/var/pcache/

.lldb
.rbenv
.capsule
.anaconda
.eclipse
.jmc
.oracle_jre_usage
.rustup
.condarc
.jupyter
.hdfscli.cfg
.xargo
arm-eabi
.clojure
.conda
.emacs.d/packages/telega
.telega
.dotfiles
